/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

.content {
	display: flex;
	padding: 100px 50px 50px 50px;
	font-family: sans-serif;
	flex-wrap: wrap;
	max-width: 1110px;
	margin: 0 auto;
}

#area {
	width: 156px;
	margin: 0 auto;
	font-size: 0;
}

.cell {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	font-size: 26px;
	border: 1px solid #000;
	cursor: pointer;
	vertical-align: middle;
	transition: background 0.1s;
}

.cell:hover {
	background-color: #f1f1f1;
}

.currentPlayer {
	font-size: 32px;
	display: flex;
	align-items: center;
	color: red;
	padding: 0 15px;
}

.stat {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.stat table {
	border-collapse: collapse;
}

.stat table,
.stat th,
.stat td {
	border: 1px solid #000;
	padding: 5px;
	text-align: center;
}

.b {
	display: flex;
	float: left;
	width: 10%;
	padding: 2%;
}

@media (max-width: 760px) {
	.currentPlayer {
		padding: 0 15px 40px 15px;
	}
	.content {
		padding: 100px 30px;
	}
}
@media (max-width: 340px) {
	.currentPlayer {
		padding: 0 10px 40px 10px;
	}
	.content {
		padding: 100px 15px;
	}
}